<a href="https://colab.research.google.com/github/Shuaib11-Github/CodeHub/blob/main/Linear_Regression_Basic_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [49]:
df = pd.read_csv('StudentHoursScores.csv')
df

    Hours  Scores
0     7.7      79
1     5.9      60
2     4.5      45
3     3.3      33
4     1.1      12
5     8.9      87
6     2.5      21
7     1.9      19
8     2.7      29
9     8.3      81
10    5.5      58
11    9.2      88
12    1.5      14
13    3.5      34
14    8.5      85
15    3.2      32
16    6.5      66
17    2.5      21
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   23 non-null     float64
 1   Scores  23 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 496.0 bytes

In [32]:
df.describe()

           Hours     Scores
count  23.000000  23.000000
mean    4.817391  47.695652
std     2.709688  27.103228
min     1.100000  12.000000
25%     2.650000  27.000000
50%     4.100000  40.000000
75%     7.100000  72.500000
max     9.600000  96.000000

In [33]:
df.shape

(23, 2)

In [34]:
df.head()

   Hours  Scores
0    7.7      79
1    5.9      60
2    4.5      45
3    3.3      33
4    1.1      12

In [35]:
df.tail()

    Hours  Scores
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [36]:
df.dtypes

Hours     float64
Scores      int64
dtype: object

In [37]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

In [38]:
df.corr()

           Hours    Scores
Hours   1.000000  0.997656
Scores  0.997656  1.000000

In [52]:
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [54]:
lr = LinearRegression()
model = lr.fit(X_train, y_train)
#t_pred = model.predict(X_train)
pred = model.predict(X_test)

In [55]:
print(model.intercept_)
print(model.coef_)

0.2569567372371395
[9.9073553]

In [56]:
print('accuracy: ', r2_score(y_test, pred))
print('mean_square_error: ', mean_squared_error(y_test, pred))

accuracy:  0.9311770139374417
mean_square_error:  3.7164412473781487

In [57]:
vif = 1/ 1-(r2_score(y_test, pred))
vif

0.06882298606255832